/* assets/styles/index.css */
header ul {
    display: flex;
    list-style: none;
  }
  
  header ul li {
    margin-right: 20px;
    position: relative;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: white;
    list-style: none;
    padding: 40px;
    margin: 0;
    border: 1px solid #000;
  }
  
  .dropdown:hover .dropdown-menu,
  .dropdown-menu:hover {
    display: block;
  }
  
  .dropdown-menu li {
    margin: 5px 0;
  }
  